    <div class="input-group">
      <input type="text" class="form-control" style="height: 50px;" ng-model="text" placeholder="Search for...">
      <span class="input-group-btn" style="height: 50px;">
        <button class="btn btn-primary" style="height: 50px;" type="button" ng-click="addQuestion()">Add Question</button>
      </span>
    </div>
  </div>

<ul style="margin: 1px;" class="list-group" ng-repeat="question in questions | filter: text | orderBy:'upvotes' | reverse">
    <li style="margin: 1px" class="list-group-item">
        <span>{{question.text}}</span>
        <span style="float: right;">{{question.upvotes}}
        <span id="{{question.$id}}" class="glyphicon glyphicon-menu-up button-hover" style="margin: 0 auto;" ng-click="upvoteQuestion(question)" ng-disabled="question.disabled"></span>
        </span>
    </li>
</ul>

<img id="QR" src="#" />